.eth-bottle-div{
    width: auto;
    height: auto;
    top:300px;
    left: 200px;

}
.eth-bottle-cap{
    z-index: 3;
    left: 28px;
    top: -25px;
}
.eth-bottle-cap-1{
    left: 228px;
    top: 273px;
}
.eth-bottle{
    z-index: 2;
}
.eth-shadow{
    top:194px;
    z-index: 1;
}