/* This file having default sim template styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.absolute{
    position: absolute;
}
.bg-div{
    z-index: 0;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(64,68,78);
    background: rgb(64,68,78);
    background: rgb(117,122,135);
    background: -moz-linear-gradient(0deg, rgba(117,122,135,1) 0%, rgba(64,68,78,1) 32%, rgba(137,138,131,1) 32%, rgba(63,80,98,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(117,122,135,1) 0%, rgba(64,68,78,1) 32%, rgba(137,138,131,1) 32%, rgba(63,80,98,1) 100%);
    background: linear-gradient(0deg, rgba(117,122,135,1) 0%, rgba(64,68,78,1) 32%, rgba(137,138,131,1) 32%, rgba(63,80,98,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#757a87",endColorstr="#3f5062",GradientType=1);
}

.sim-obj{
    z-index: 100;
}


.sim-container img {
    max-width:100%;
    height:auto;
}

.controls{
    max-width: 250px;
    min-height: 200px;
    max-height: 350px;
    background-color:rgb(255, 255, 255,0.8);
    border-radius: 20px;
    padding:20px;
overflow: hidden;

}
.sim-components{
    position: relative;
}
.sim-controls{
    display: none;
    position: absolute;
    
    
    width: 250px;
    min-height: 200px;
    max-height: 350px;
    background-color:rgb(255, 255, 255,0.8);
    border-radius: 20px;
    padding:20px;
overflow: hidden;
}
.sim-control-items{
    min-height: 160px;
    max-height: 290px;
    overflow: auto;

}
.right{
    margin-top:10px;
    right: 50px;
}
.left{
    margin-top:10px;

    left:50px;
}
.sim-top-wrapper{
    z-index: 10000;
    background-color: rgb(0,0,0,.5);
    color:azure;
    
}
.sim-top-wrapper h3{
    color:azure;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.exit-full-screen{
    position: absolute;
    right:20px;
    top:10px;
}
.exit-full-screen{
    cursor: pointer;

    width: 40px;
    height: 40px;
}
.minimize{
    fill: #ffffff;
}
.exit-full-screen:hover .minimize{
    cursor: pointer;
    fill: aqua;
    width: 30px;
    height: 30px;
}
.sim-side{
    position: absolute;
    transform-origin: left;
    left: 10px;
    transform : rotate(90deg) ;
    

    
}
.sim-side-container{
    padding-left: 10px;
    padding-right: 10px;
}
.sim-side-btn{
    cursor: pointer;
    height: 40px;
    padding:5px ;
    left: 0;
    background-color: #a40c45;
    border-top:solid 1px #fff;
    color: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    letter-spacing: 3px;
    transition: .5s;;
    
    
}
.sim-side-btn:hover{
    background-color: #fff;
    border-top:solid 3px #a40c45;
    color:#a40c45;
    

}


.sim-overlay{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgb(0,0,0,.8);
    overflow: hidden;
    z-index: 100;
    display: none;
}
.btn-sim-next{
    z-index: 101;
    margin-left: -60px;
    margin-top: -40px;
   left: 50%;
   top:50% ;
   display: none;
}
.btn-sim-next:hover{
    /*  */
    position: relative;
}
.left-sticky-nav{
    position: -webkit-sticky;
  position: sticky;
  top: 70px;
  align-self: flex-start;
  background-color: red;
}


 /* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    
 }


 /* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    
 }

 /* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 

 }


 /* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { 
    
 }


 @media (max-width: 1116px) { 
    .sim-controls,.sim-side{
        display: none;
    }

    .sim-controls-hidden-btn{
        display: block;
        position: absolute;
    }
 }
 @media (min-width: 1116px) { 
    .sim-controls-hidden-btn{
        display: none;
    }
 }