body{
    background:#f5f5f5;
}
.nav{
    background-color: #e3e9ec;
}
.banner{
    height: 70%;
    background:url(../images/banner-bg.jpg);
    background-size: 90%;
    background-position: top;

}
